.habilities {

  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  width: 80%;
  margin-top: 50px;
 
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-size: small;
}

.habilities-data {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  width: 100%;
}
.section-data {
  text-align: center;
}

hr{

  width: 100%;
}


@media screen and (max-width: 480px) {
  .habilities {
    width: 90%;
    margin: 10px 0px 30px;
  }

  .habilities-data {
    margin: 10px 0px;
    font-size: 15px;
    
  }

  .section-data {
    display: flex;
    text-align: center;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    
  }
}

@media screen and (max-width: 960px) {
  .habilities {

    margin-top: 45px;
    min-height: 40%;
    justify-content: center;

  }

  .habilities-data {
   
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .section-data {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    
  }
}
