.header-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 60%;

  &__img {
    border-radius: 20vh;
    width: 70%;
    height: 30%;
    background-image: url("../../../../public/assets/perfil.png");
    background-size: 380px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 10px 20px 10px;
    padding: 110px 0px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 50%;
    background: rgb(37, 37, 37);
    background: linear-gradient(
      90deg,
      rgba(37, 37, 37, 1) 0%,
      rgba(116, 116, 116, 1) 10%,
      rgba(128, 128, 128, 1) 50%,
      rgba(116, 116, 116, 1) 90%,
      rgba(37, 37, 37, 1) 100%
    );
    border-radius: 20px;
    border: solid 1px #353735;
    margin: 25px 10px;
    padding: 14px 14px;
    font-size: large;
    color: whitesmoke;
  }

}
@media screen and (max-width: 480px){

  .header-top{
    width: 100%;
    
    &__img{
      margin: 0;
    }
    &__data{
      margin: 10px 0px;
      width: 80%;
      padding: 5px 14px 0px;
      
    }
  }

}

@media screen and (max-width: 960px){

.header-top{
  
  width: 100%;

  &__img{
    margin: 30px 10px 20px 10px;
  }

  &__data{
    width: 85%;
    font-size: small;
    align-items:flex-start;
    margin: 0;
  }
  
}


}