#c{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

.body{
    display: flex;
    justify-content: center;
    width: 75%;
    z-index: 1;
}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


@media screen and (max-width:480px) {
.body{ 
    align-items: center;
    width: 100%;
}
   

}