.interesting{


    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.075);
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    width: 80%;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: large;


.linkedin-img{
    width: 30px;
    height: 30px;
}


.interesting-data{
    margin: 20px 0px;
}
}


@media screen and (max-width:480px){

    .interesting{

        width: 90%;

    }


}