
.home {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  width: 90%;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-size: small;
  

  .title-mecanic {
    display: block;
    font-size: 25px;
    white-space: nowrap;
    border-right: 2px solid;
    width: 21ch;
    animation: typing 3s steps(21), blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @media screen and (max-width: 480px) {
    .title-mecanic {
      font-size: 13px;
    }
    .home {
      min-width: 375px;
      margin-top: 10px;
      height: 50px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 960px) {
  .title-mecanic {
    font-size: 19px;
    
  }
}
