.header {
  z-index: 2;
  display: flex;
  background: rgb(48, 48, 48);
  background: rgb(27, 27, 27);
  background: linear-gradient(
    90deg,
    rgba(27, 27, 27, 1) 0%,
    rgb(33, 155, 47) 50%,
    rgba(27, 27, 27, 1) 100%
  );
  border:solid 2px #353735;
  height: 100%;
  min-height: 100%;
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}


@media screen and (max-width:480px) {

  .header{
    width: 80%;
    align-items: center;
  }
  
}

@media screen and (max-width:960){


  .header{
    width: 40%;
  
  
  }


}