
.experience{
 
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.075);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  width: 80%;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  font-size: small;






.navButtonsExp{
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: #000;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff,0 0 20px #49ff18, 0 0 40px #49ff18,
    0 0 55px #49ff18, 0 0 75px #49ff18;
  padding: 10px;
  margin: 3px;
  font-size: 14px;
}
.experience-data{

  width: 100%;
}

.experience-title{
text-align: center;
}
.experiende-zone{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


@media screen and (max-width:480px){

  .experience{
    width: 90%;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}
.experience-title{
  text-align: center;
  margin: 7px 0px;
  }
  .experiende-zone{
    margin: 7px 0px 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 10%;
  }

  .navButtonsExp{
    font-size: 15px;
  }

}

@media screen and (max-width:960px){

  .experience{
    margin-top: 45px;
  }
  .experiende-zone{

    flex-wrap: wrap;
  }

}
}