.header-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 35%;
  padding: 0px 0px 50px 0px;
  margin: 0px 0px 33px 0px;

  &__buttoms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 25%;
    margin: 30px 0px;
    padding: 30px 15px;
  }

  &__aboutMe {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 55%;
    background: rgb(37, 37, 37);
    background: linear-gradient(
      90deg,
      rgba(37, 37, 37, 1) 0%,
      rgba(116, 116, 116, 1) 10%,
      rgba(128, 128, 128, 1) 50%,
      rgba(116, 116, 116, 1) 90%,
      rgba(37, 37, 37, 1) 100%
    );
    border-radius: 20px;
    border: solid 1px #353735;
    font-size: large;
    color: whitesmoke;
  }
}

.button {
  border-radius: 10px;
  color: #ffffff;
  background: #000;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff,0 0 20px #49ff18, 0 0 40px #49ff18,
    0 0 55px #49ff18, 0 0 75px #49ff18;
  padding: 10px;
  margin: 3px;
  font-size: 14px;
}

p {
  margin: 0px 20px;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: inherit;
}
.me{
text-align: center;
border:solid 2px #353735;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
width: 100%;
background: rgb(18,18,18);
background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(84,84,84,1) 10%, rgba(121,121,121,1) 50%, rgba(84,84,84,1) 90%, rgba(18,18,18,1) 100%);

}
.info-me{

  // transition: all 600ms ease-in-out ;

}

@media screen and (max-width:480px){
  .header-bottom{
    width: 100%;
    margin: 0;
    padding: 10px;
    flex-direction: column-reverse;

    
    &__buttoms{
      margin: 0;
      padding: 15px 15px;      
    }
  }
  
  .button{
    margin-bottom: 10px;
  }
  h2{
    margin:10px 0px;
  }
}

@media screen and (max-width:960px){

  .header-bottom{
    width: 100%;
    margin-bottom: 60px;

    &__buttoms{
      margin:10px 0px 0px 0px;
    }

    &__aboutMe{
      margin-top: 50px;
    }
  }
  

  
}