.app {
  background-color: rgb(141, 156, 156);
  display: flex;
  flex-direction: row;
}



@media screen and (max-width:480px) {

  .app{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
}








