


.education{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.075);
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    width: 80%;
    margin-top: 50px;
   
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: small;
  
}

.title-education{
    margin-bottom: 70px;
}

.education-data{
    text-align: center;
    color:white;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
}
hr{
    width: 100%;
}


@media screen and (max-width:480px){

    .education{
        width: 90%;
        margin-top: 10px;
        font-size: 16px;
    }

    .education-data{
        margin-bottom: 10px;
    }
    hr{
        width: 100%;
    }

    .title-education{
        margin: 30px 0px;
       
    }
}

@media screen and (max-width:960px){

    .education{
        margin-top: 45px;
        width: 94%;
    }
    hr{
        width: 100%;
    }
    .education-data{
        margin-bottom: 40px;
    }
    .title-education{
        margin: 30px 0px;
       
    }
}