.errorPage{
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgRabbit{
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px 0px;
} 

@media screen and (max-width: 480px){

h1{
    text-align: center;
    margin: 0;
}
.imgRabbit{
    width: 200px;
    height: 200px;
}
}